[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
tensorflow = "*"
plotly = "*"
dash = "*"
pandas = "*"
tqdm = "*"
rtree = "*"
matplotlib = "*"

[dev-packages]
yapf = "*"
ipykernel = "*"

[requires]
python_version = "3.10"
